@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
--line-border-fill:rgb(68, 186, 233);
--line-border-empty:#e0e0e0;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.container{
    text-align:center;
}

.progress-container{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position:relative;
    max-width: 100%;
    width:350px;
}

.progress-container::before{
    content: '';
    /*while using ::before/ ::after,to see the visible gray line you need to have empty string in content */
    background-color:var(--line-border-empty);
    position:absolute;
    top:50%;
    left:0%;
    height:3px;
    width:100%;
    transform:translateY(-50%); 
    z-index : -1;
}

.progress{
    background-color:var(--line-border-fill) ;
    position:absolute;
    top:50%;
    left:0%;
    height:3px;
    width:0%;
    /* width:33.33%;to make blue line visible you need to give the width of line */
    transform:translateY(-50%); 
    z-index : -1;
    transition:0.4s ease; 
}

.circle{
    background-color: white;
    color : gray;
    height:30px;
    width:30px;
    border-radius: 50%;
    border: 3px solid var(--line-border-empty);
    display:flex;
    align-items: center;
    justify-content: center;
}

.circle.active{
    border-color:var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color:white;
    border:0;
    border-radius:10px;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline:0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor:not-allowed;
}